<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/emoji.css">
</head>

<body>
<main>
    
        <!-- Start Header -->
        <header>
            <a href="https://funix.edu.vn" class="header-logo">
                <img src="/images/logo-funix.png" alt="logo">
            </a>
            <div class="header-info">
                <a href="https://funix.edu.vn/lien-he">
                    <button class="header-info__btn">Contact Us</button>
                </a>
            </div>
        </header>
        <!-- End Header -->

        <!-- Start banner -->
        <section class="gs-banner"> 
            <img src="/images/banner-02.png" alt="banner" >
        </section>
        <!-- End banner -->
    <div class="survey-content">
        <!-- information classroom -->
        
        <div class="info-class">
            <h4 class="survey-title">Thông tin sau buổi học:</h4>
            <div class="info-class__table" id="data_table">
                <!-- data subject -->
                <div class="info-class__table-data">
                    <div>
                        <div class="title">Học viên</div>
                        <div class="value"><%= data.student_id %></div>
                    </div>
                    <div>
                        <div class="title">Môn học</div>
                        <div class="value"><%= data.course_id %></div>
                    </div>
                    <div>
                        <div class="title">Mentor/Giảng viên</div>
                        <div class="value"><%= data.mentor_id %></div>
                    </div>
                    <div>
                        <div class="title">Thời gian diễn ra</div>
                        <div class="value"><%= data.start_time %></div>
                    </div>
                    <div>
                        <div class="title">Tến độ buổi học</div>
                        <div class="value"><%= data.progress %></div>
                    </div>
                    <div>
                        <div class="title">Nội dung buổi học</div>
                        <div class="value"><%= data.course_content %></div>
                    </div>
                    <div>
                        <div class="title">Nhận xét từ Mentor/Giảng viên</div>
                        <div class="value"><%= data.mentor_evaluation %></div>
                    </div>
                    <div>
                        <div class="title">Nội dung tiếp theo/dặn dò</div>
                        <div class="value"><%= data.next_note ? data.next_note : 'Chưa có đánh giá' %></div>
                    </div>
                </div>
            </div>
            
        </div>
        
            <!-- level interest -->
            <div class="rating-face">
                <h4 class="survey-title">
                    Hãy cho FUNiX biết mức độ hài lòng của bạn về buổi học: <span>(*)</span>
                </h4>

                    <!-- /////////Start rating///////////// -->
                    <div class="e-rating">
                        <div class="e-rating__faces">
                        <div class="e-rating__face e-rating__face--1" data="very_dissatisfied" onclick="handleChose(event,'very_dissatisfied')">
                            <div class="e-rating__face-inner">
                            <div class="e-rating__eye"></div>
                            <div class="e-rating__eye"></div>
                            <div class="e-rating__mouth"></div>
                            </div>
                            <div class="e-rating__tear"></div>
                            <div class="e-rating__tear"></div>
                            <span class="e-rating__title">Rất tệ</span>
                        </div>
                        <div class="e-rating__face e-rating__face--2" data="dissatisfied" onclick="handleChose(event,'dissatisfied')">
                            <div class="e-rating__face-inner">
                            <div class="e-rating__eye"></div>
                            <div class="e-rating__eye"></div>
                            <div class="e-rating__mouth"></div>
                            </div>
                            <span class="e-rating__title">Tệ</span>
                        </div>
                        <div class="e-rating__face e-rating__face--3" data="so_so"  onclick="handleChose(event,'so_so')">
                            <div class="e-rating__face-inner">
                            <div class="e-rating__eye"></div>
                            <div class="e-rating__eye"></div>
                            <div class="e-rating__mouth"></div>
                            </div>
                            <span class="e-rating__title">Bình thường</span>
                        </div>
                        <div class="e-rating__face e-rating__face--4" data="satisfied" onclick="handleChose(event,'satisfied')">
                            <div class="e-rating__face-inner">
                            <div class="e-rating__eye"></div>
                            <div class="e-rating__eye"></div>
                            <div class="e-rating__mouth"></div>
                            </div>
                            <span class="e-rating__title">Tốt</span>
                        </div>
                        <div class="e-rating__face e-rating__face--5" data="very_satisfied" onclick="handleChose(event,'very_satisfied')">
                            <div class="e-rating__face-inner">
                            <div class="e-rating__eye"></div>
                            <div class="e-rating__eye"></div>
                            <div class="e-rating__mouth"></div>
                            </div>
                            <span class="e-rating__title">Tuyệt vời</span>
                        </div>
                        </div>
                    </div>
                    <!-- End Rating -->
            </div>
            <div class="survey-noted display-none">
                <h4 class="survey-title--desc">
                    Ghi chú:
                </h4>
                <div id="content-noted"></div>
            </div>
        <% if (!!isSurvey) { %>
            <div class="form-survey">
                <!-- Info review -->
                <div class="info-review">
                    <h4 class="survey-title--desc">
                        Vui lòng chia sẻ lý do tại sao:
                    </h4>
                    <div class="info-review__input">
                        <textarea rows="5" name="description"></textarea>
                    </div>
                </div>

                <div class="btn-confirm">
                    <div class="error-message"></div>
                    <button onclick="handleSubmit()">Gửi đánh giá</button>
                </div>
                <input type="hidden" value="<%= sessionInput %>" name="session-input">
            </div>
        <% } else { %>
            <input type="hidden" value="<%= isSurvey %>" name="isSurvey">
            <input type="hidden" value="<%= data.parent-evaluation %>" name="parent-evaluation">
        <% } %>
        <div class="footer-helper">Nếu có bắt cứ vướng mắc gì, vui lòng gửi mail cho itsupport@funix.edu.vn</div>
        <div class="inline"></div>
    </div>

    <%- include('../includes/footer.ejs') %>

    <!-- Popup -->
    <div id="popup-msg" class="display-none">
        <div class="popup-content">
            <i class="btn-close fa-regular fa-circle-xmark"></i>
            <div id="popup-content"></div>
        </div>
    </div>
</main>

<script src="/js/online_class/index.js"></script>

</body>
</html>